/* Global Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar-custom {
    background-color: #f5f5dc;
}

.navbar-custom .nav-link {
    color: #000000;
}

.navbar-logo {
    height: 40px;
    width: auto;
}

.navbar-custom .nav-link:hover {
    color: #0056b3;
}

.navbar-custom .form-control {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

/* Body */
body {
    background-image: url('../assets/websitebg.png');
    background-repeat: repeat;
    background-size: auto;
    background-position: 0 0;
    background-attachment: scroll;
    min-height: 100vh;
}

/* Glow Effect */
.glow {
    font-size: 80px;
    color: #ccffcc;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

h1 {
    margin-bottom: 30px;
}

.text-start {
    text-align: left;
}

/* Card */
.card-img-top {
    border-radius: 50px;
    padding: 20px;
}

.card {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.card-body {
    padding: 25px;
    margin-top: -15px;
}

.btn-primary {
    border-radius: 50px;
    width: 120px;
}

.btn-primary:hover {
    background-color: black;
    border: none;
}

h3, h5 {
    color: #333;
}

/* Video Overlay */
/* Overlay styling */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Dark semi-transparent background */
    z-index: 9999;
    align-items: center;
    justify-content: center;
}


/* Footer */
.footer {
    background-color: #333; /* Darker background color */
    color: #ffffff; /* Light text color */
}

.footer a {
    color: #ffffff; /* Light link color */
    text-decoration: none; /* Remove underline */
}

.footer a:hover {
    text-decoration: underline; /* Underline on hover */
}

.footer-logo {
    height: 40px; /* Adjust based on your design */
    width: auto; /* Maintain aspect ratio */
}

.footer .container {
    max-width: 1140px; /* Same as Bootstrap's container max-width */
}

.footer p {
    margin: 0;
}
